/* ────────────────────────────────────────────────────────────
 * Custom Theme for Walker
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color selected-text #A69A3A;
@define-color text #fcffb8;
@define-color base #3a3c43;
@define-color border #855b8d;
@define-color foreground #b8bcb9;
@define-color background #1e1e1e;
@define-color hover #2a2b2e;
@define-color accent #FB0067;

window .box-wrapper {
  background: linear-gradient(280deg, alpha(@base, 0.5), transparent 100%);
  padding: 8px 2px;
  color: @text;
  border-radius: 12px;
  border: 3px solid @border;
  margin: 0;
}

window .search-container,
window .search {
  background: transparent;
  color: @foreground;
  border: 2px solid alpha(@border, 0.5);
  padding: 8px 12px;
  margin: 4px 5px;
  font-size: 14px;
  font-weight: 500;
}

window .input {
  color: @accent;
  padding: 0;
  font-weight: 300;
}

child {
  padding: 0 2px;
  background: transparent;
  border-radius: 0;
  border-left: 2px solid transparent;
  transition: all 160ms ease-in-out;
}

child:hover .item-box,
child:selected .item-box {
  background: linear-gradient(90deg, alpha(@accent, 0.2), transparent 100%);
  border-left: 2px solid alpha(@accent, 1);
  transform: translateX(4px);
  transition:
    background 150ms cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 150ms cubic-bezier(0.25, 0.8, 0.25, 1),
    border-left 150ms ease;
}

child:hover .item-text,
child:selected .item-text {
  text-shadow: 0 0 1px alpha(@accent, 0.1);
}

child,
.item-box {
  transition:
    background 150ms cubic-bezier(0.25, 0.8, 0.25, 1),
    border-left 150ms ease,
    transform 150ms ease;
}

window .list child {
  animation: slideIn 180ms ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-15px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* window .normal-icons, */
/* window .item-box, */
/* window .large-icons { */
/*   -gtk-icon-size: 0; */
/*   min-width: 0; */
/*   padding: 0; */
/*   margin: 0; */
/* } */
